{% extends 'core/base.html' %}
{% block title %}Login{% endblock title %}

{% block main_content %}
<section class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-md-5 border">
            <h3 class="text-white">Login Form</h3>
        </div>
    </div>
    <div class="row justify-content-around">
    
        <div class="col-md-5">
        <form action="" method="post" class="bg-white my-3 p-3  rounded">
        {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}}
                {{fm}}
                <small class="text-danger">{{fm.errors}}</small>
            
            {% endfor %}
            <input type="Submit" value="Login" class="btn btn-primary mt-2">
        </form>
        </div>
    </div>
</section>
{% endblock main_content %}